@charset"UTF-8";
#btn{opacity: 0;}
#btn2{position: relative;left:80%;display:none;width: 35px;}
#nav{display: flex;background-color: brown;}
#nav>div:nth-child(1){width:25%;position: relative;top:20px;}
#nav>div:nth-child(2){width:75%;display: flex;justify-content: space-around;}


#pic>div:nth-child(1){width: 80%;height:427px;margin: 0 auto;}
#pic>div:nth-child(1) img{width: 100%;height: 100%;}
#pic>div:nth-child(2){display:flex;position: relative;left:10%;top:25px;}
#pic>div:nth-child(2)>a{display: block;width: 15vw;height: 15vw;}
#pic>div:nth-child(2)>a img{width: 100%;height: 100%;}

#coffee{position: relative;top:0px;}
#coffee a{display: block;width: 100%;text-decoration: none;color: black;text-align: center;background-color: brown;padding: 5px;}

footer{text-align: center;position: relative;top:200px;}
@media screen and (max-width:800px){
 
    
}

@media screen and (max-width:600px){
    #btn2{position: relative;left:90%;display: block;}
    #nav{flex-direction: column;}
    #nav>div:nth-child(1){margin:0 auto;}
    #nav>div:nth-child(2){display: flex;flex-direction: column;width: 100%;}
    input[id=btn]:checked+nav{animation:nav 0.3s forwards;}
    #nav{position:absolute;left:-100%;background-color: brown;width: 100%;text-align: center;z-index: 2;}
    @keyframes nav {0%{left:-100%;position: absolute;}
                     100%{left:0%;position: absolute;}
                                    }
    
}

@media screen and (min-width:601px)
              and (max-width:800px){
                #btn2{position: relative;left:90%;display: block;}
                #nav{flex-direction: column;}
                #nav>div:nth-child(1){margin:0 auto;}
                #nav>div:nth-child(2){display: flex;flex-direction: column;width: 100%;}
                input[id=btn]:checked+nav{animation:nav 0.3s forwards;}
                #nav{position:absolute;left:-100%;background-color: brown;width: 100%;text-align: center;z-index: 2;}
                @keyframes nav {0%{left:-100%;position: absolute;}
                                 100%{left:0%;position: absolute;}
                                                }


 
}

@media screen and (min-width:801px){
    #coffee{position: relative;top:0px;}
    footer{text-align: center;position: relative;top:200px;}

    #pic>div:nth-child(1){width: 60%;height:427px;margin: 0 auto;}
    #pic>div:nth-child(2){display:flex;position: relative;left:20%;}
}


@media screen and (min-width:801px)
              and (max-width:1280px){

}

@media screen and (min-width:1281px){

}